/**
 * $HOME
 * ==========================================================================
 * This is a placeholder and example for a view.
 */

 div{
 	// border: thin red dashed;
 }

 .clear-fix{ clear: both; }

 .container{
 	width: 100%;
 	max-width: 100%;
 	padding: 0;
 }

 .home{

 	.logo{
 		position: relative;
 		left: 0;
 		margin-top: 15px;
 	}

 	.main-vid{
 		width: 100%;
 		height: 740px;
 		background: url(../img/fpo-home.jpg) no-repeat center top;
 		margin: 0 auto;

 		//** vid js overrides**/
 		.video-js{
 			background-color: #fff;
 			width: 100%;
 			height: 100%;
 		}
 	}

 	.grid-ctnr{
 		width: 100%;

 		.grid-row{
 			width: 100%;
 		}

 		.grid-block{
 			width: 33.33%;
 			float: left;
 			overflow: hidden;
 			line-height: 0;

 			.half-block{
 				width: 50%;
 				float:left;
 				height: 100%;
 				overflow: hidden;
 			}

 			img{
 				width: 100%;
 				// position: absolute;
 				z-index:1;
 			}
 		}

 		.three-up{
 			.grid-block{ 
 				// width: 33.33%; 
 			}
 		}
 	}
 }